* {
  margin: 0;
  box-sizing: border-box;
}

body {
  opacity: 1 !important;
  transform: none !important;
  font-family: 'Varela Round', sans-serif;
  background: #f4f4f4;
  color: #333;
  line-height: 1.6;
  transition: opacity 0.8s ease;
  user-select: none;
}

body.loaded {
  opacity: 1;
}

html {
  scroll-padding-top: 10vh;
}

/* TOP RIBBON*/
.top-ribbon {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 7vh;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  gap: 3vw;
  box-shadow: 0 0.2vh 0.8vw rgb(0, 0, 0);
  z-index: 9999;
  transition: transform 0.3s ease;
}

.ribbon-label {
  font-size: 1.5vw;
  font-weight: bold;
  color: #000000;
  flex-shrink: 0;
  margin-left: 1vw;
  margin-right: 1vw;
  white-space: nowrap;
}


.ribbon-logo img {
  margin-top: 1vh;
  margin-left: 0.5vw;
  height: 6vh;
  background-color: rgba(0, 0, 0, 0.6);
}

.ribbon-buttons {
  display: flex;
  gap: 2vw;
}

.ribbon-buttons a {
  text-decoration: none;
  color: #000000;
  background-color: transparent;
  font-weight: bolder;
  font-weight: bold;
  letter-spacing: 0.1vw;
  padding: 1vh 1vw;
  transition: background 0.2s ease;
}

.ribbon-buttons a:hover {
  background: #FFA500;
  color: #ffffff;
}

.top-ribbon.hide {
  transform: translateY(-100%);
}

/* HERO */
.hero {
  position: relative;
  background:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url('/images/about-us-page-hero.webp') no-repeat center/cover !important;
  padding: 35vh 1%;
  text-align: center;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-container h1 {
  position: relative;
  font-family: 'Varela Round', sans-serif;
  font-size: 7vw !important;
  font-weight: bold;
  color: #ffffff;
  text-align: left;
  letter-spacing: 2vw;
}

.hero-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}

.hero-button .btn-primary {
  display: inline-block;
  text-decoration: none;
  padding: 2vh 5vw;
  border-radius: 0.5vw;
  font-size: 1.5vw;
  font-weight: 300;
  cursor: pointer;
  transition: background 0.5s ease;
  background-color: #da8d00;
  color: #f4f4f4;
}

.hero-button .btn-primary:hover {
  background-color: #ffa500;
  color: #fff;
  box-shadow: 0 0.2vw 1vw rgba(218, 141, 0, 0.6);
  transform: translateY(-2px) scale(1.03);
}

/* MISSION SECTION*/
.mission {
  position: relative;
  padding: 5vh 5vw;
  margin-top: 1vh;
  margin-bottom: 3vh;
}

.mission-title {
  position: relative;
  font-family: 'Varela Round', sans-serif;
  font-style: italic;
  text-align: center;
  font-size: 3vw;
  letter-spacing: 0.5vw;
  margin-bottom: 8vh;
}

.mission-subtitle {
  position: relative;
  font-family: 'Varela Round', sans-serif;
  font-style: italic;
  text-align: center;
  font-size: 1.5vw;
  letter-spacing: 0.1vw;
  margin-bottom: 8vh;
}

.mission-body {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 4vw;
  margin-top: 1.5vw;
}

.mission-image img {
  position: relative;
  width: 100%;
  max-width: 40vw;
  border-radius: 3vw;
  border: 0.3vw solid #555;
  padding: 0.3vw;
  object-fit: cover;
}

.mission-text {
  position: relative;
  max-width: 100%;
  margin: auto;
  text-align: left;
  font-size: 1.5vw;
  font-weight: 600;
  font-style: italic;
  flex: 1;
}